{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Send Student Notification</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Send Student Notification</li>
             </ul>
          </div>
          {% include 'includes/messages.html' %}
          <div class="col-auto text-right float-right ml-auto">
               <button type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#exampleModalCenter">
                  <i class="fas fa-bell"></i>   View All Notification
               </button>
          </div>
       </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table  id="table_id" class="table table-hover table-center mb-0 ">
                       <thead>
                          <tr>
                             <th>ID</th>
                             <th>Name</th>
                             <th>Username</th>
                             <th>Email Address</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       <tbody>
                         {% for i in Student %}
                          <tr>
                             <td>{{i.id}}</td>
                             <td>
                                <h2 class="table-avatar">
                                   <a href="Staff-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{i.admin.profile.url}}" alt="User Image"></a>
                                   <a href="Staff-details.html">{{i.admin.first_name | title}} {{i.admin.last_name}}</a>
                                </h2>
                             </td>
                             <td>{{i.admin.username}}</td>
                             <td>{{i.admin.email}}</td>
                             <td class="text-right">
                                 <button type="button" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#SendNotificationModal-{{forloop.counter}}">
                                    <i class="fas fa-bell"></i>   Send Notification
                                 </button>
                             </td>
                          </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
 </div>
 


 

  
  <!-- Modal -->
  <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">view Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

         <div class="row">
            <div class="col-sm-12">
               <div class="card card-table">
                  <div class="card-body">
                     <div class="table-responsive">
                        <table  id="table_id" class="table table-hover table-center mb-0 ">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Message</th>
                               
                                 <th class="text-right">Status</th>
                              </tr>
                           </thead>
                           <tbody>
                             {% for i in NewNoti %}
                              <tr>
                                 
                                 <td>
                                    <h2 class="table-avatar">
                                       <a href="Staff-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{i.student_id.admin.profile.url}}" alt="User Image"></a>
                                       <a href="Staff-details.html">{{i.student_id.admin.first_name | title}} {{i.student_id.admin.last_name}}</a>
                                    </h2>
                                 </td>
                                 <td >
                                   {{i.message}}
                                 </td>
                                
                                 <td class="text-right">
                                    {% if i.status == 1 %}
                                     <span class="badge badge-success "> Seen </span>
                                     {% elif  i.status == 0 %}
                                     <span class="badge badge-danger "> Unseen </span>
                                     {% else %}
                                     <span class="badge badge-warning "> Unseen </span>
                                     {% endif %}
                                 </td>
                              </tr>
                             {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  {% comment %} Staff View Notification Modal  {% endcomment %}
  {% for i in Student %}
  <div class="modal fade" id="SendNotificationModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <form action="{% url 'StudentSendNotifications' %}" method="post">
               {% csrf_token %}
               <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Send Notification to {{i.admin.first_name}} {{i.admin.last_name}} </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               </div>
               <div class="modal-body">
               <div class="col-12 col-sm-12">
                  <div class="form-group">
                     <input type="hidden" name="Staff_id" value="{{i.id}}">
                     <label>Notofication Message <i class="fas fa-bell"></i>  </label>
                     <textarea class="form-control" name="SendNotification" placeholder="Type Here" required></textarea>
                  </div>
               </div>
               </div>
               <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-success">Send Notofication</button>
               </div>
            </form>
         </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}